:root.sidebar #background {
  background: #192330;
}

tab-item .background {
  border-radius: 0.72em;
}

tab-item.active .background {
  background: #233143;
}

/* show separator space between root level tabs */
tab-item[data-level="0"] {
  margin-top: calc(var(--tab-size) / 12); /* please change this as you like */
}
/* cancel needless separators on exceptions */
tab-item[data-level="0"].pinned,
tab-item[data-level="0"].pinned + tab-item[data-level="0"],
tab-item[data-level="0"] + tab-item[data-level="0"]:not([data-child-ids]) {
  margin-top: 0;
}

/* Show title of unread tabs with bold and italic font */
:root.sidebar tab-item.unread .label-content {
  font-weight: bold !important;
  font-style: italic !important;
}

/* gray out suspended tabs */
.tab.discarded {
  opacity: 0.75;
}

/* show close box when hovering */
.tab:not(:hover) .closebox{
	display:none
}

tab-item tab-closebox::before {
  border-radius: 3px; /* vary between 0 and 10 to make the background rounder */
}
/* I find these work well on my monitor (slightly darker than the normal tab color) but YMMV */
tab-item tab-closebox:hover::before {
  background: #7D6565AF;
  opacity: 1; /* defaults to 0.1 */
}
tab-item.active tab-closebox:hover::before {
  background: #9F2D2DAF;
}

/* use favicon instead of arrows to (un)expend a tab group */
tab-item tab-twisty {
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/* adjust tab borders horizontally */
tab-item-substance {
  border-right: solid 6px #192330;
  border-left: solid 6px #364c69; 
}

tab-item:not(.pinned) tab-item-substance {
  padding-left: 10px !important; /* !important is required when there are enough tabs to cause a scrollbar */
}

/* height of tabs */
tab-item {
  --tab-size: 42px !important;
}
tab-item  tab-item-substance {
  height: var(--tab-size);
}
